<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tableViewController" class="com.at.ac.tuwien.sepm.ss15.edulium.gui.service.TableViewController" scope="prototype" />

    <bean id="tableViewPane" class="com.at.ac.tuwien.sepm.ss15.edulium.gui.FXMLPane" scope="prototype">
        <constructor-arg name="fxml" value="gui/service/TableView.fxml" />
    </bean>

</beans>
