<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="Spring-Context.xml" />

    <!-- Validator beans -->
    <import resource="domain/Spring-MenuCategoryValidator.xml" />
    <import resource="domain/Spring-TableValidator.xml" />
    <import resource="domain/Spring-SectionValidator.xml" />
    <import resource="domain/Spring-UserValidator.xml" />
    <import resource="domain/Spring-TaxRateValidator.xml" />
    <import resource="domain/Spring-MenuValidator.xml" />

</beans>
