<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="Spring-Context.xml" />
    <import resource="Spring-Scheduler.xml" />
    <import resource="Spring-Security.xml" />
    <import resource="Spring-DataSource.xml" />

    <!-- Validator beans -->
    <import resource="domain/Spring-MenuCategoryValidator.xml" />
    <import resource="domain/Spring-TableValidator.xml" />
    <import resource="domain/Spring-SectionValidator.xml" />
    <import resource="domain/Spring-UserValidator.xml" />
    <import resource="domain/Spring-InvoiceValidator.xml"/>
    <import resource="domain/Spring-TaxRateValidator.xml" />
    <import resource="domain/Spring-ReservationValidator.xml" />
    <import resource="domain/Spring-MenuEntryValidator.xml" />
    <import resource="domain/Spring-MenuValidator.xml" />
    <import resource="domain/Spring-OrderValidator.xml" />
    <import resource="domain/Spring-InstalmentValidator.xml" />

    <!-- DAO beans -->
    <import resource="dao/Spring-MenuCategoryDAO.xml" />
    <import resource="dao/Spring-SectionDAO.xml" />
    <import resource="dao/Spring-TableDAO.xml" />
    <import resource="dao/Spring-UserDAO.xml" />
    <import resource="dao/Spring-OrderDAO.xml" />
    <import resource="dao/Spring-MenuDAO.xml" />
    <import resource="dao/Spring-InstalmentDAO.xml" />
    <import resource="dao/Spring-InvoiceDAO.xml"/>
    <import resource="dao/Spring-TaxRateDAO.xml" />
    <import resource="dao/Spring-MenuEntryDAO.xml" />
    <import resource="dao/Spring-ReservationDAO.xml" />

    <!-- Service beans -->
    <import resource="service/Spring-UserService.xml" />
    <import resource="service/Spring-UserDetailsService.xml" />
    <import resource="service/Spring-MenuService.xml"/>
    <import resource="service/Spring-TaxRateService.xml" />
    <import resource="service/Spring-InteriorService.xml" />
    <import resource="service/Spring-OrderService.xml" />
    <import resource="service/Spring-InvoiceService.xml" />
    <import resource="service/Spring-ReservationService.xml" />

    <!-- GUI beans -->
    <import resource="gui/Spring-LoginPane.xml" />
    <import resource="gui/Spring-MainWindowPane.xml" />
    <import resource="gui/Spring-CookViewPane.xml" />
    <import resource="gui/Spring-EmployeeViewPane.xml" />
    <import resource="gui/Spring-ManagerViewPane.xml" />
    <import resource="gui/Spring-MenuViewPane.xml" />
    <import resource="gui/Spring-MenuEntryViewPane.xml" />
    <import resource="gui/Spring-MenuCategoryViewPane.xml" />
    <import resource="gui/Spring-TaxRateViewPane.xml" />
    <import resource="gui/Spring-RoomViewPane.xml" />
    <import resource="gui/Spring-StatisticViewPane.xml" />
    <import resource="gui/Spring-TableOverviewPane.xml" />
    <import resource="gui/Spring-OrderOverviewPane.xml" />
    <import resource="gui/Spring-MenuDialogPane.xml" />
    <import resource="gui/service/Spring-TableOverviewPane.xml" />
    <import resource="gui/service/Spring-ReservationOverviewPane.xml" />
    <import resource="gui/service/Spring-ReservationEditViewPane.xml" />
    <import resource="gui/service/Spring-TableViewPane.xml" />
    <import resource="gui/service/Spring-OrderOverviewPane.xml" />
    <import resource="gui/service/Spring-OrderInputPane.xml" />
    <import resource="gui/service/Spring-ServiceViewPane.xml" />
    <import resource="gui/service/Spring-MenuCategoryOverviewPane.xml" />
    <import resource="gui/service/Spring-MenuEntryOverviewPane.xml" />
    <import resource="gui/service/Spring-MenuOverviewPane.xml" />
    <import resource="gui/service/Spring-MenuDetailsPane.xml" />


</beans>
