<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="Spring-DAO.xml" />

    <!-- Service beans -->
    <import resource="service/Spring-UserService.xml" />
    <import resource="service/Spring-UserDetailsService.xml" />
    <import resource="service/Spring-MenuService.xml"/>
    <import resource="service/Spring-TaxRateService.xml" />
    <import resource="service/Spring-MenuService.xml"/>
    <import resource="service/Spring-TaxRateService.xml" />

</beans>
